@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import "tailwindcss";

:root {
    --primary: #1e3f66;
    --secondary: #e8b44a;
}

body {
    font-family: "Varela Round", sans-serif;
}